*{
    margin: 0;
    padding: 0;
    block-size: border-box;
}


header h1,
section h2{
    font-family: 'bungee', cursive;
}

body{
    font-family: 'Roboto', sans-serif;
}


header{
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 16px;
}

header nav li a{
    color: #ecf0f1;
    text-decoration: none;
}

header h1,
section h2{
    font-weight: normal;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto
}

header .container,
section .container{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.brand-list img{
    height: 24px;
}

.brand-list li{
    display: inline;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
    color: #182c61;
}

section h2{
    margin-bottom: 16px;
    color: #182c61
}

section p{
    margin-bottom: 8px;
}

section img{
    margin-right: 32px  ;
}

.store{
    margin-right: 32px;
}



